.navegation {
    z-index: 100;
    width: 100%;
    color: #ffffff;

    .navegation__logo {
        text-decoration: none;
    }

    .navegation__menu {
        display: flex;
        align-items: center;
        font-size: .9rem;

        .navegation__menu-m {
            font-size: .5rem;
            border: none;
            text-align: center;
            text-decoration: none;
            margin: 2px 5px;
            cursor: pointer;
            width: 15ch;
            padding: 5px 10px;
            transition: all .3s ease-in-out;
            animation: 1s ease-in-out 0s 1 slideInFromLeft;

            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(-40%);
                    opacity: 0;
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            &:hover {
                color: #ffffff;
                background-color: rgb(27, 111, 167);

            }
        }

        .navegation__menu-item {
            margin: 5px 20px;
            color: #000000;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover {
                color: #b1b1b1;
            }
        }
    }
}